<div class="navbar-fixed">
  <nav class="nav">
    <img src="/imgs/navheader.png" alt="Libation Logo" style="height: fit-content;width: 10rem;">
    <div class="nav-wrapper">        
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          {{#if logged_in}}
          <button>
            <a id="logout" href="logout">
            Logout
          </a></button>
          {{else}}
          <button><a href="login">
            Login
          </a></button>
          {{/if}}
        </li>
      </ul>
    </div>
  </nav>
</div>

<div>
  <section id="discover-drinks" class="discover">
    <span>Discover Cocktails
      <p> Explore a variety of cocktails and reciepes and create your own collection</p>
    </span>
    <form id="search-for-drink" class="form discover-form">
      <div class="form-group">
      <label for="search-drink"></label>
      <input type="text" class="discover-form-search" id="search-drink" placeholder="Search for Drinks">
      </div>
      <button class="explore-button" type="submit" id="drink-by-name-btn" >Start Exploring</button>
    </form>
  </section>

  <section id="discover-cocktail" class="random-drink">
    <div class="row " id="discover-cocktail-row" hidden="true">
      <div class="col s12 m12 card-width">
        <div class="card discover-display">
          <div class="card-image" >
            <img src="" id="drinkType">
            <h1 class="card-title title" id="title"></h1>
          </div>
          <div class="card-content drink-content">
            <div class="card">
              <h2><i class="fa fa-list-ul"></i> Ingredients: </h2>
              <ul id="ingredients" class="details">
              </ul>
            </div>
            <div class="card">
              <h2><i class="fa fa-tasks"></i> How to make: </h2>
              <p id="instructions" class="details">
              </p>
            </div>
            <div class="card">
              <h2> <i class="fa fa-glass"></i> Best Served in: </h2>
              <p id="glassware" class="details">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div>
  <section id="cocktial-page" class="random-drink">
    <div class="row">
      <div class="col s12 m12 card-width">
        <div class="card random-display">
          <div class="card-image">
            <img src="" id="randomdrinkType">
            <h1 class="card-title title" id="randomtitle"></h1>
          </div>
          <div class="card-content drink-content">
            <div class="card">
              <h2><i class="fa fa-list-ul"></i> Ingredients: </h2>
              <ul id="randomingredients" class="details">
              </ul>
            </div>
            <div class="card">
              <h2><i class="fa fa-tasks"></i> How to make: </h2>
              <p id="randominstructions" class="details">
              </p>
            </div>
            <div class="card">
              <h2> <i class="fa fa-glass"></i> Best Served in: </h2>
              <p id="randomglassware" class="details">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<script src="../js/age.js" type="text/javascript"></script>
<!-- Only include the logout script if the user is logged in -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
<script src="../js/cocktailApiCalls.js"></script>