  <div class="container libation-login">
    <img src="imgs/nobg.png" alt="Libation Logo">
    <div class="column is-4 is-offset-4">
    <div class="box">
    <form class="col s12">
      <div class="row" class="login-form">
      <div class="input-field col s6">
        <input class="form-input" type="text" id="user-name" placeholder="Username"/>
      </div>
      <div class="input-field col s6">
        <input class="form-input" type="password" id="password" placeholder="Password"/>
      </div>
    </form>
    </div>
    <div class="row is-4 is-offset-4 login-div">
      <button type="submit" class="button" id="login-btn">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
      <span> Not a user?
        <button id="submit-btn">
          <a href="/signup">Signup</a>
        </button>
      </span>
    </div>
  </div>

<script src="../js/login.js"></script>