<div class="row justify-space-between-md">
  <img src="/imgs/nobg.png" alt="Libation Logo" style="width: 20rem;">
  <div class="login-card">
    <h2>Users must be over the age of 21 to enter the app</h2>
    <p> We do not condone underage drinking, therefor, you may not enter unless you are over 21.
    </p>
    <form class="form login-form">
      <div class="form-group">
        <label for="user-name">User Name:</label>
        <input class="form-input" type="text" id="user-name" />
      </div>
      {{!-- <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-input" type="text" id="email" />
      </div> --}}
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-input" type="password" id="password" />
      </div>
      {{!-- <div class="form-group">
        <label for="birthdate">Date of Birth:</label>
        <input class="form-input" type="date" id="birthdate" />
      </div> --}}
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="login-btn">Login </button>
      </div>
    </form>
  </div>
  Not a user?
    <button>
      <a href="/signup">Sign Up</a>
    </button>
  </div>

<script src="../js/login.js"></script>