:root {
  --white: #fff;
  --black: black;
  --tealOpaque: #b7dcdf87;
  --grey: #747878;
  --ash-grey: #BCC1BA;
  --pink: #CC444B;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:var(--black)
}
::placeholder {
  /* Most modern browsers support this now. */
  color: var(--grey);
}
.nav{
  background: white;
  padding: 0 1rem;
}
h1{
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5rem;
  margin: .5em 0;
  padding: .5rem;
}
p{
  font-size: 1rem;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--teal);
  align-items: center;
}
nav ul a{
  color: inherit;
}
a{
  color:black;
}
button{
background-color: var(--tealOpaque);
border: none;
border-radius: .3rem;
color: black;
}
img{
  height:20rem;
  width:20rem;
}
section{
  margin: .5rem;
}
.favorited-drinks{
  background-color: var(--tealOpaque);
}
.favorited-drinks span{
  font-size: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.discover{
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.discover-form{
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.discover-form-search{
  width: 50rem !important;
}
.explore-button{
  background-color: var(--black);
  color: var(--white);
  height: 2rem;
  font-size: 1rem;
}
.random-drink{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.libation-login{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 6rem;
}
.libation-login img{
  height: fit-content;
  width: 30rem;
}
.login-form{ 
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.login-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.login-div span { 
  margin-top: 1rem;
}

.sign-up{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 6rem;
}

.sign-up img {
  height: fit-content;
  width: 30rem;
}
