:root {
  --white: #fff;
  --black: black;
  --tealOpaque: #84c0c687;
  --grey: #9FB7B9;
  --ash-grey: #BCC1BA;
  --pink: #CC444B;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:var(--black)
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--teal);
  align-items: center;
}
nav ul a{
  color: inherit;
}

a{
  color:black;
}
button {
background-color: var(--tealOpaque);
border: none;
border-radius: .3rem;
color: black;
}

img{
  height:20rem;
  width:20rem;
}